@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&family=Space+Grotesk:wght@400;500&display=swap');

html{height:100%;}

.wrap{
    margin: 60px auto;
    padding : 0 40px; 
}

aside{
    position: fixed;
    width: 275px;
    background-color: #fff;
}

aside .dep1{
    /* border: 3px solid red; */
    line-height: 20px;
}

aside .dep1>li:first-child{
    padding-bottom: 45px;
}

aside .dep1>li:last-child{
    padding-top:45px;
}

aside .dep2{
    /* border: 3px solid blue; */
    display: none;
}

aside .dep2.open{
    display: block;
    max-height: 200px;
    transition: max-height 1s linear;  
}

aside .dep2 li{
    font-size: 11px;
    font-weight: 400;
}

aside .dep3{
    /* border: 3px solid green; */
}

aside li{
    font-family: 'Space Grotesk', sans-serif;
    font-weight: bold;
    font-size: 12.5px;
}

header{
    max-width: 1300px;
    padding-left: 275px;
    min-width: auto;
    padding-top: 20px;
}

.header{
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
}

.header_right>img{
    margin-right: 30px;
}

.header_left{
    margin-top: -10px;
    width: 24px;
    font-size: 24px;
    font-weight: lighter;
    cursor: pointer;
    display: none;
    
}

main p{
    font-family: 'Space Grotesk', sans-serif;
    font-size: 22px;
    font-weight: 700;
}

main .mainbanner img{
    max-width: 100%;
    height: auto; /* img는 위 컨테이너 너비에 맞게 조정 */
    display: block; /* display 속성은 기본값인 inline-block이 아니라 아닌 block 요소로 표시 */
}

main .mainbanner_s img{
    max-width: 100%;

    height: auto; /* img는 위 컨테이너 너비에 맞게 조정 */
    display: none;
}

main p{
    padding: 90px 0 20px;
}

main .content_box{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-column-gap: 20px;
}

.content_box>div{
    text-align: center;
    font-size: 12px;
    line-height: 60px;
    font-weight: bold   ;
}

.content_box>div>img{
    width: 100%;
}

.btn{
    margin: 70px 0 90px;
    text-align: right;
}

.btn>a{
    border: 1px solid #000;
    /* outline: 0; */
    background-color: #fff;
    display: inline-block;
    font-weight: bold;
    line-height: 45px;
    font-size: 12px;
    padding: 0 43px;
    transition: all 0.3s;
    position: relative;
    z-index: 2;
}

.title_box_arr{
    display: flex;
    justify-content: space-between;
    margin:90px 0 20px;
}

.title_box_arr>p{
    padding:0;
}

footer{
    border: none;
    padding: 55px 0 30px;
    line-height: 30px;
    margin-top: 200px;
    padding-left: 275px;
    font-weight: bold;
}   

footer ul{
    margin-right: 20px;
    font-size: 10px;
}

footer ul li{
    margin-right: 10px;
}

footer ul:first-child{
    font-size: 10px;
    text-decoration: underline;
}

footer p{
    font-size: 10px;
}

footer p:nth-child(3){
    margin-left: 25px;
}

.footer_address{
    font-size: 10px;
}

footer .sns{
    float: right;
}

footer .sns img{
margin: 0 5px;
}

footer .footer_menu{
    display: flex;
}

footer .footer_menu ul{
    display: flex;
}

footer .footer_menu_s{
    display: none;
}
/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */

    @media screen and (min-width:770px) and (max-width:960px) {
        .wrap{padding: 0}

        header{
            max-width: 1300px;
            padding-left: 0;
            min-width: auto;
            padding-top: 0;
        }
        
        .header{
            display: flex;
            justify-content: space-between;
            padding-bottom: 30px;
        }
        
        .header>img{
            width: 80px;
            margin: 0 auto;
            padding-left: 50px;
        }
        

        .header_left{
            display: block;
            margin:20px
        }
        
        .header_right{
            padding-top : 20px;
        }

        .header_right>img{
            margin-right: 15px;
        }

        aside{
            display: none;
        }

        .mainbanner img{
            width: 100%;
        }

        .content_name{
            text-align: center;
        }

        .title_box_arr{
            padding: 0 10px;
            display: block;
            text-align: center;
            position: relative;

        }

        .title_box_arr img{
            position: absolute;
            right: 20px;
            top:0;
        }

        footer{
            margin: 200px 0;
            padding: 10px;
        }
    }

/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */
    @media screen and (max-width:769px) {
    
        .wrap{padding: 0}

        header{
            max-width: 1300px;
            padding-left: 0;
            min-width: auto;
            padding-top: 0;
        }
        
        .header{
            display: flex;
            justify-content: space-between;
            padding-bottom: 30px;
        }
        
        .header>img{
            width: 80px;
            margin: 0 auto;
        }
        

        .header_left{
            display: block;
            margin:20px
        }
        
        .header_right{
            padding-top : 20px;
        }

        .header_right img{
            margin-right: 15px;
        }
        
        aside{
            display: none;
        }

        main .mainbanner img {
            display: none;
        }

        main .mainbanner_s img{
            display: block;
        }   

        .content_name{
            text-align: center;
        }

        .title_box_arr{
            padding: 0 10px;
            display: block;
            text-align: center;
            position: relative;
        }

        .title_box_arr img{
            position: absolute;
            right: 20px;
            top:500px;
        }

        main .content_box{
            display: block;
        }

        main .content_box>div:nth-child(2){
            display: none;
        }
        main .content_box>div:nth-child(3){
            display: none;
        }
        

        footer{
            margin: 200px 0;
            padding: 10px;
            text-align: center;
        }

        footer .footer_menu, .sns, .footer_address{
            display: none;
        }
        
        footer .footer_menu_s{
            display: block;
        }

        footer .footer_menu_s>ul{
            display: flex;
            justify-content: center;
            margin-bottom: 20px;
        }

        footer .footer_menu_s .footer_address_s{
            line-height: 20px;
        }

        .sns_s>img{
            margin: 20px 5px;
        }

        footer .footer_menu_s>p{
            font-weight: lighter;
        }
    }



